/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
// @import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css';

#deleteButton {
  margin-right: 10px;
}

#showby {
  margin-top: 3px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.upload-panel {
  margin: 0 auto;
  width: 98%;
  height: 98%;
}

#upload-glyph {
  color: #78dbff;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#load-error {
  color: red;
}

#contentTable {
  width: 570px;
  table-layout: fixed;
}

.content-tr {
  width: 120px;
  word-wrap: break-word;
}

.content-td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.ui-helper-center {
  text-align: center;
}