<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="active">
                    <th>Name:</th>
                    <th>Upload date:</th>
                    <th>Total lines:</th>
                    <th>Shortest word:</th>
                    <th>Longest word:</th>
                    <th>Average word length:</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let file of files" (click)="showFilePage(file.id)" >
                    <td>{{file.filename}}</td>
                    <td>{{file.uploadDate | date: 'dd'}}/{{file.uploadDate | date:'MM'}}/{{file.uploadDate | date: 'yyyy'}}</td>
                    <td>{{file.size}}</td>
                    <td>{{file.shortestWord}}</td>
                    <td>{{file.longestWord}}</td>
                    <td>{{file.averageWordLength}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<popup></popup>