<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <label for="name">Filename</label>
            <input type="text" class="form-control" id="name" name="filename" disabled [(ngModel)]="file.filename"/>
          </div>
          <div class="form-group">
            <label for="date">Upload date</label>
            <input type="text" class="form-control" id="date" name="uploadDate" disabled
                   [ngModel]="file.uploadDate | date: 'dd/MM/yyyy'"/>
          </div>
          <div class="form-group">
            <label for="size">Lines count</label>
            <input type="text" class="form-control" id="size" name="size" disabled [(ngModel)]="file.size"/>
          </div>
          <div class="form-group">
            <label for="short">Shortest word</label>
            <input type="text" class="form-control" id="short" name="shortestWord" disabled
                   [(ngModel)]="file.shortestWord"/>
          </div>
          <div class="form-group">
            <label for="long">Longest word</label>
            <input type="text" class="form-control" id="long" name="longestWord" disabled
                   [(ngModel)]="file.longestWord"/>
          </div>
          <div class="form-group">
            <label for="average">Average word length</label>
            <input type="text" class="form-control" id="average" name="averageWordLength" disabled
                   [(ngModel)]="file.averageWordLength"/>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Full line</th>
              <th>Shortest word</th>
              <th>Longest Word</th>
              <th>Average length</th>
            </tr>
            </thead>
            <tbody>
            <tr name="fileLines" *ngFor="let lineSt of file.lineStatistics">
              <td>{{lineSt.line}}</td>
              <td>{{lineSt.shortestWord}}</td>
              <td>{{lineSt.longestWord}}</td>
              <td>{{lineSt.averageWordLength}}</td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Delete file statistics
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
