<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="active">
                    <th>Name:</th>
                    <th>Upload date:</th>
                    <th>Total lines:</th>
                    <th>Shortest word:</th>
                    <th>Longest word:</th>
                    <th>Average word length:</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let file of pageData.fileStatistics" (click)="showFilePage(file.id, show)">
                    <td>{{file.filename}}</td>
                    <td>{{file.uploadDate | date: 'dd'}}/{{file.uploadDate | date:'MM'}}/{{file.uploadDate | date:
                        'yyyy'}}
                    </td>
                    <td>{{file.size}}</td>
                    <td>{{file.shortestWord}}</td>
                    <td>{{file.longestWord}}</td>
                    <td>{{file.averageWordLength}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="footer">
    <ul class="pagination" *ngIf="pageData.pageSize>0">
        <li [ngClass]="{'disabled': page.current}" *ngFor="let page of getPagination()">
            <a (click)="pageNo(page.pageNo)">{{page.name}}</a>
        </li>
    </ul>
</div>

<ng-template #show>
    <div class="modal-header">
        <h4 class="modal-title pull-left">File statistics</h4>
        <button type="button" id="closeBt" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <button type="submit" id="deleteButton" class="btn btn-default btn-sm pull-right">Delete this statistic</button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Filename</label>
                            <input type="text" class="form-control" id="name" name="filename" disabled
                                   [(ngModel)]="file.filename"/>
                        </div>
                        <div class="form-group">
                            <label for="date">Uploaded on</label>
                            <input type="text" class="form-control" id="date" name="uploadDate" disabled
                                   [(ngModel)]="file.uploadDate"/>
                        </div>
                        <div class="form-group">
                            <label for="size">Lines count</label>
                            <input type="text" class="form-control" id="size" name="size" disabled
                                   [(ngModel)]="file.size"/>
                        </div>
                        <div class="form-group">
                            <label for="short">Shortest word</label>
                            <input type="text" class="form-control" id="short" name="shortestWord" disabled
                                   [(ngModel)]="file.shortestWord"/>
                        </div>
                        <div class="form-group">
                            <label for="long">Longest word</label>
                            <input type="text" class="form-control" id="long" name="longestWord" disabled
                                   [(ngModel)]="file.longestWord"/>
                        </div>
                        <div class="form-group">
                            <label for="average">Average word length</label>
                            <input type="text" class="form-control" id="average" name="averageWordLength" disabled
                                   [(ngModel)]="file.averageWordLength"/>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Full line</th>
                                <th>Shortest word</th>
                                <th>Longest Word</th>
                                <th>Average length</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr name="fileLines" *ngFor="let lineSt of file.lineStatistics">
                                <td>{{lineSt.line==""?"-//-":lineSt.line}}</td>
                                <td>{{lineSt.shortestWord==""?"-//-":lineSt.shortestWord}}</td>
                                <td>{{lineSt.longestWord==""?"-//-":lineSt.longestWord}}</td>
                                <td>{{lineSt.averageWordLength}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>