<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a routerLink="/filelist">List of statistics</a>
                </li>
                <li>
                    <a (click)="showUploadPage(upload)">Upload file/folder</a>
                </li>
                <li class="dropdown pull-right" id="showby">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Show by
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="onDropDownClick(1)">1</a></li>
                        <li><a (click)="onDropDownClick(2)">2</a></li>
                        <li><a (click)="onDropDownClick(5)">5</a></li>
                        <li><a (click)="onDropDownClick(10)">10</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #upload>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Upload</h4>
        <button type="button" id="closeBt" class="close pull-right" aria-label="Close" (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Please, drag and drop files to the block</div>
                        <div id="load-error" class="panel-body" *ngIf="onError">
                            <p>1) You can upload up to 30 files at one time.<br/>
                                2) Maximum file size is 5 mb.<br/>
                                3) Maximum size of multiple files is 50 mb.
                                4) Folders is a no-go.
                            </p>
                        </div>
                        <div class="panel-body" style="height: 200px">
                            <ng4-files-drop (filesSelect)="filesSelect($event)">
                                <div class="upload-panel">
                                    <span id="upload-glyph" *ngIf="!filesToUpload" class="glyphicon glyphicon-plus"
                                          aria-hidden="true"></span>
                                    {{filesToUpload}}
                                </div>
                            </ng4-files-drop>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

